
<div class="head">
    <img class="logo" src="../../../app/img/Logoeste.png" alt="">
    <h2 class="titulo">Administrador</h2>
    <button mat-raised-button color="#f97a24" class="Cerrar" (click)="logout()">Cerrar Sesion</button>
</div>

<!--<div class="colorsito">
    <h1 class="titulo">Funciones del administrador</h1>

    <nav class="menu">
        
        <div class="consejos">
            <h2>Consejos</h2>
            <a href="/consejo/index"><button>Listar Consejos</button></a>
            <a href="/consejo/create"><button>Crear Consejo</button></a>
        </div>
    
        <div class="niveles">
            <h2>Niveles</h2>
            <a href="/nivel/index"><button>Listar niveles</button></a>
            <a href="/nivel/create"><button>Crear nivel</button></a>
        </div>
    </nav>
    <button class="sesion" (click)="logout()">Cerrar Sesion</button>
</div>
-->
