.menu{
    position: absolute;
    height: 10vh;
    width: 100vw;
}

.container{
    margin: 0%;
    padding: 0%;
}

.body{
    padding-top: 30vh;
    margin: 0%;
    height: 60vh;
}

div{
    margin: 0;
}