.home{
    text-align: center;
    height: 20vh;
    width: 100vw;
    padding-top: 15vh;
}

.menu{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 7vh;
}

.botonconsejo{
    margin-right: 1vw;
    width: 20vw;
    height: 20vh;
    font-size: 20px;
    border-radius: 10%;
}

.botonnivel{
    width: 20vw;
    height: 20vh;
}