.home{
    text-align: center;
    height: 20vh;
    padding-top: 15vh;
}

.botonconsejo{
    margin-right: 1vw;
    width: 20vw;
    height: 20vh;
    border-radius: 10%;
}

.botonnivel{
    width: 20vw;
    height: 20vh;
}