<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="colorsito">
    <h1 class="titulo">Funciones del administrador</h1>

    <nav class="menu">
        
        <div class="consejos">
            <h2>Consejos</h2>
            <a href="/home"><button>Volver al menu</button></a>
        </div>
    </nav>
</div>  


<table class="table table-striped-columns">
    <thead>
        <tr>
            <td><h2>Id de usuario</h2></td>
            <td><h2>Nombre</h2></td>
            <td><h2>Fecha nacimiento</h2></td>
            <td><h2>Ocupación</h2></td>
            <td><h2>Email</h2></td>
            <td><h2>Rol</h2></td>
            <td><h2>Nivel</h2></td>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let usuario of listaUsuarios">
            <td>{{ usuario.id}}</td>
            <td>{{ usuario.name}}</td>
            <td>{{ usuario.fecha_nacimiento}}</td>
            <td>{{ usuario.ocupacion}}</td>
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.id_rol}}</td>
            <td>{{ usuario.nivel_id}}</td>
            <td>
                <button type="button" (click)="eliminarUser(usuario.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>